#content {
    background-color: white;
    padding: 10px;
}

#main-menu {
    border: cadetblue 1px solid;
    background-color: azure;
    width: 250px;
    padding: 10px;
    float: right;
}

.header {
    border-bottom: cadetblue 1px solid;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 20pt;
}

.footer {
    padding: 5px;
    margin-top: 10px;
    border-top: cadetblue 1px solid;
    font-size: 10pt;
    color: gray;
}

#scenario-form, #scenario-list {
    padding: 10px 0 10px 0;
}
.scenario-icon {
    width: 52px;
    height: 52px;
    padding-right: 5px;
    float: left;
}
.description {
    color: cadetblue;
}
.list-item {
    padding: 5px 0 5px 0;
}
#logout {
    float: right;
}
#logout span {
    margin-right: 50px;
}
.notification {
    color: green;
}
.error {
    color: red;
}
.comment {
    color: gray;
}
#auth-info {
    margin-right: 40px;
}
#user-table {
    width: 70%;
}
#user-table th {
    width: 25%;
}
th {
    text-align: start;
}