<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>Web Application - Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <link rel="icon" href="/static/favicon.ico" type="image/ico"/>
</head>
<body>
<h1>Welcome!</h1>
<form action="/login" method="POST">
    <div><label>Username: <input type="text" name="username"/></label></div>
    <div><label>Password: <input type="password" name="password"/></label></div>
    <div><input type="submit" value="Sign In"/></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
</form>
</body>
</html>