<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>Web Application - Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <link rel="icon" href="/static/favicon.ico" type="image/ico"/>
</head>
<body>
<div>
    <div id="logout">
        <form action="/logout" method="POST">
            <span>Authenticated as <b>{{username}}</b></span>
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
    </div>
    <h1>Main Page</h1>
    <div id="greeting">
        Hello, {{username}}!
    </div>
    <div id="menu">
        <a href="/sysinfo">System Info</a>
    </div>
    <div id="scenario-form">
        <strong>New Scenario:</strong>
        <form action="/" method="POST">
            <input type="text" name="name" placeholder="Name:"/>
            <input type="text" name="descr" placeholder="Description:"/>
            <input type="submit" value="Add"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
    </div>
    <div id="scenario-list">
        <strong>Scenario List:</strong>
        <div id="scenario-list-filter">
            <form action="/filter" method="POST">
                Filter:
                <input type="text" name="filter" placeholder="Name of scenario"/>
                <input type="submit" value="Find"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            </form>
        </div>
        <ul>
            {{#scenarios}}
            <li class="list-item">
                <b>{{name}}</b> (ID: {{id}})<br/>
                {{#createDateTime}}Created: {{createDateTime}}{{/createDateTime}}<br/>
                {{#changeDateTime}}Changed: {{changeDateTime}}{{/changeDateTime}}<br/>
                {{#description}}<span class="description">{{description}}</span><br/>{{/description}}
                {{#creator}}<i>(created by {{creator.username}})</i>{{/creator}}
            </li>
            {{/scenarios}}
        </ul>
    </div>
</div>
</body>
</html>